body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 18px
}

footer {
    display: flex;
    justify-content: center;
    padding: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
}





h2 {
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 18px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid blue;
}










.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    padding: 50px;
}

.sign-up {
    padding: 50px;
}











.dark-gray {
    background-color: rgb(107, 107, 107);
}

.light-gray {
    background-color: rgb(207, 206, 206);
}