/* Main */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.container.one {
    flex: 3;
}

.container.two, 
.container.three,
.container.four {
    flex: 1 1 300px;
    justify-content: center;
    align-items: center;
}






/* Header */
header {
    display: flex;
    justify-content:space-between;
    padding: 18px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items:center;
}

.logo img {
    flex: 0;
    max-width: auto;
    max-height: 50px;
    margin-right: 15px;
}

.logo p {
    font-size: 35px;
    margin: 0px;
    padding: 10px;
}




/* Footer */
footer {
    display: flex;
    justify-content: center;
    padding: 18px;
    background-color: rgb(107, 107, 107);
}








/* Section 1 */
.side-by {
    justify-content: space-evenly;
    gap: none;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.left {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 48px 18px;
    min-width: 300px;
    max-width: 500px;
}

.right {
    flex: 2 3 500px;
    margin: auto;
    padding: 48px 18px;
    min-width: 100px;
    max-width: 700px;
}

.right img {
    max-height: 350px;
    width: auto;
}

button {
    background-color: #2234ae;
    color: #E5E7EB;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    width: 120px;
    height: 25px;
}

.left button {
     border: none;
}



/* Container 2
    includes card layout */
h2 {
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin: 18px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: #E5E7EB;
    padding: 10px;
}

.card img {
    max-height: 250px;
    width: auto;
    border-radius: 15px;
}

.card p {
    padding: 10px 0px;
}








/* Section 3 & 4 
    placement  */
.container.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    padding: 50px;
}








/* Section 4 */
.sign-up {
    padding: 8px 80px;
    margin: 50px;
    background-color: #2234ae;
    background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    border-radius: 15px;

}

.sign-up-text {
    flex: 4;
    color: #E5E7EB;
}

.sign-up button {
    border: 2px;
    flex-grow: 1;
    flex-shrink: 0;
}






/* Section
    background colors */

.light-gray {
    background-color: rgb(207, 206, 206);
}

.ocean {
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}