/* Main */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.container.one {
    flex: 3 1;
}

.container.two, 
.container.three,
.container.four {
    flex: 1 1;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 18px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    padding: 18px;
}


/* Section 1 */
.side-by {
    justify-content: space-between;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 72px;
    padding: 48px 18px;
}

.right {
    flex: 1;
    background-color: blue;
    margin: 48px 72px 48px 8px;
}

.left button {
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 0px;
    margin: 0px;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 25px;
}



/* Container 2
    includes card layout */
h2 {
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 18px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid blue;
    border-radius: 8px;
}




/* Section 3 & 4 
    placement  */
.container.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    padding: 50px;
}

.sign-up {
    padding: 8px 80px;
    margin: 50px;
    background-color: #3882f6;
}



/* Section 4 */


.sign-up button {
    border: 8px #E5E7EB;
}






/* Section
    background colors */
.dark-gray {
    background-color: rgb(107, 107, 107);
}

.light-gray {
    background-color: rgb(207, 206, 206);
}